.Rproj.user
.Rhistory
.RData
*.Rproj
*.RDATA
.Ruserdata
.rds
*.code-workspace

*.pdf
*.png

/*.csv
/STAR/*.csv

diagnoses.R
itr_lm.R
.DS_Store
.DS_Store
.Rdata
.httr-oauth

# directories
/data/
/temp/
/example/
/archive/
/note/
/output/
